input[type="submit"]:hover {
    opacity: 0.8;
  
  }
  #grid-container{
  
      padding-top: 50px;
      margin-left:calc(100% - 68%);
      padding-left:10%;
      width:30%;
      min-height: 1000px;
      display: grid;
      position: absolute;
        grid-template-columns: auto auto;
  }  
  .grid-item{
      position: relative;
      height:245px;
      margin-left: 100px;
      width:380px;
      background-color: blue;
      padding-left:5px;
      color:black;
      padding-top:5px;
      font-family:myFirstFont;
      transition: transform .5s;
  }
  .grid-item:hover {
      transform: scale(1.06); 
  }
  .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 100wh;
    position: absolute;
    opacity: 1;
    transition: .5s ease;
    background-color:rgba(255,255,255, 0.2);
  }
  .grid-item:hover .overlay {
    opacity: 1;
  }
  .text{
    opacity: 0.5;
    color:white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
