/* Emil Wiklund 000915-8635 */

/* Css för grid fact i hammurabi.html filen */
#grid-container-grid_fact{
    display: grid;
    position: absolute;
    grid-template-columns: auto auto auto ;
    gap:0px 10px;
    margin-top:10px;
  }  
  .grid-item-grid_fact{
      border:1px solid black;
      text-align: left;
      font-size: 10px;
      background-color:burlywood;
}
.grid-item-grid_fact h1{
	font-size: 20px;
	text-decoration: underline;
}